In [24]:
from typing import NamedTuple
from datetime import datetime

class AircraftModel(NamedTuple):
    model_id: str
    model_name: str
    manufacturer: str
    release_date: datetime

In [27]:
import requests
from bs4 import BeautifulSoup
from typing import Iterable
import unicodedata

def datetime_string_datetime(s: str) -> datetime:
    formats = ("%d %B %Y", "%B %d, %Y")
    for format in formats:
        try:
            return datetime.strptime(s, format)
        except ValueError:
            continue
    

def get_date_and_manufacturer(url: str) -> tuple[datetime, str]:
    ret = requests.get(url)
    ret.raise_for_status()
    
    soup = BeautifulSoup(ret.content, "lxml")
    infobox = soup.find("table", class_="infobox")
    body = infobox.find("tbody")
    td1 = body.find(lambda t: t.get_text(strip=True) in ('Manufacturer', "Design group"))
    manufacturer = td1.find_next("td").get_text(strip=True)
    
    td1 = body.find(lambda t: t.get_text(strip=True) == 'First flight')
    date = unicodedata.normalize("NFKD", td1.find_next("td").contents[0].split("\n")[0].split(";")[0].split(":")[-1].strip())
    date = datetime_string_datetime(date)
    
    return date, manufacturer
    
def get_aircraft_model() -> Iterable[AircraftModel]:
    ret = requests.get("https://en.wikipedia.org/wiki/List_of_aircraft_type_designators")
    ret.raise_for_status()
    
    soup = BeautifulSoup(ret.content, "lxml")
    table = soup.find("table", class_="wikitable")
    body = table.find("tbody")
    
    for row in body.find_all("tr"):
        cols = row.find_all("td")
        if not cols:
            continue
            
        model_id = cols[0].get_text(strip=True)
        model_name = cols[2].find("a").get_text(strip=True)
        if not model_name.startswith("Boeing") and not model_name.startswith("Airbus"):
            continue
        model_url = "https://en.wikipedia.org/" + cols[2].find("a")["href"]
        date, manufacturer = get_date_and_manufacturer(model_url)
        yield AircraftModel(
            model_id=model_id,
            model_name=model_name,
            manufacturer=manufacturer,
            release_date=date
        )

trans = str.maketrans({"'": "''", "&": r"\&"})
make_sql_nice = lambda s: s.translate(trans)


for aircraft_model in get_aircraft_model():
    print(f"    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) "
          f"VALUES ('{make_sql_nice(aircraft_model.model_id)}', '{make_sql_nice(aircraft_model.model_name)}', '{make_sql_nice(aircraft_model.manufacturer)}', 1, TO_DATE('{aircraft_model.release_date:%Y-%m-%d}', 'YYYY-MM-DD'))")

    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A19N', 'Airbus A319neo', 'Airbus', 1, TO_DATE('2014-09-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A20N', 'Airbus A320neo', 'Airbus', 1, TO_DATE('2014-09-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A21N', 'Airbus A321neo', 'Airbus', 1, TO_DATE('2016-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A306', 'Airbus A300-600', 'Airbus', 1, TO_DATE('1972-10-28', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A30B', 'Airbus A300B2, A300B4 and A300C4', 'Airbus', 1, TO_DATE('1972-10-28', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A310', 'Airbus A310-200', 'Airbus', 1, TO_DATE('1982-04-03', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A310', 'Airbus A310-300', 'Airbus', 1, TO_DATE('1982-04-03', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A318', 'Airbus A318', 'Airbus', 1, TO_DATE('2002-01-15', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A318', 'Airbus A318 (sharklets)', 'Airbus', 1, TO_DATE('2002-01-15', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A319', 'Airbus A319', 'Airbus', 1, TO_DATE('1995-08-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A319', 'Airbus A319 (sharklets)', 'Airbus', 1, TO_DATE('1995-08-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A320', 'Airbus A320', 'Airbus', 1, TO_DATE('1987-02-22', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A320', 'Airbus A320 (sharklets)', 'Airbus', 1, TO_DATE('1987-02-22', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A321', 'Airbus A321', 'Airbus', 1, TO_DATE('1993-03-11', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A321', 'Airbus A321 (sharklets)', 'Airbus', 1, TO_DATE('1993-03-11', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A332', 'Airbus A330-200', 'Airbus', 1, TO_DATE('1992-11-02', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A333', 'Airbus A330-300', 'Airbus', 1, TO_DATE('1992-11-02', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A332', 'Airbus A330-200 Freighter', 'Airbus', 1, TO_DATE('1992-11-02', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A333', 'Airbus A330-300 Freighter', 'Airbus', 1, TO_DATE('1992-11-02', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A337', 'Airbus A330-700 "BelugaXL"', 'Airbus', 1, TO_DATE('2018-07-19', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A338', 'Airbus A330-800', 'Airbus', 1, TO_DATE('2017-10-19', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A339', 'Airbus A330-900', 'Airbus', 1, TO_DATE('2017-10-19', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A342', 'Airbus A340-200', 'Airbus', 1, TO_DATE('1991-10-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A343', 'Airbus A340-300', 'Airbus', 1, TO_DATE('1991-10-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A345', 'Airbus A340-500', 'Airbus', 1, TO_DATE('1991-10-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A346', 'Airbus A340-600', 'Airbus', 1, TO_DATE('1991-10-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A359', 'Airbus A350-900', 'Airbus Commercial Aircraft', 1, TO_DATE('2013-06-14', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A35K', 'Airbus A350-1000', 'Airbus Commercial Aircraft', 1, TO_DATE('2013-06-14', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A388', 'Airbus A380-800', 'Airbus', 1, TO_DATE('2005-04-27', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A3ST', 'Airbus A300-600ST "Super Transporter" / "Beluga"', 'Airbus', 1, TO_DATE('1994-09-13', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('A400', 'Airbus A400M Atlas', 'Airbus Defence and Space', 1, TO_DATE('2009-12-11', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B37M', 'Boeing 737 MAX 7', 'Boeing Commercial Airplanes', 1, TO_DATE('2016-01-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B38M', 'Boeing 737 MAX 8', 'Boeing Commercial Airplanes', 1, TO_DATE('2016-01-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B39M', 'Boeing 737 MAX 9', 'Boeing Commercial Airplanes', 1, TO_DATE('2016-01-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B3XM', 'Boeing 737 MAX 10', 'Boeing Commercial Airplanes', 1, TO_DATE('2016-01-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B52', 'Boeing B-52 Stratofortress', 'Boeing', 1, TO_DATE('1952-04-15', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B703', 'Boeing 707', 'Boeing Commercial Airplanes', 1, TO_DATE('1957-12-20', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B712', 'Boeing 717', 'McDonnell DouglasBoeing Commercial Airplanes', 1, TO_DATE('1998-09-02', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B720', 'Boeing 720B', 'Boeing Commercial Airplanes', 1, TO_DATE('1959-11-23', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B721', 'Boeing 727-100', 'Boeing Commercial Airplanes', 1, TO_DATE('1963-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B722', 'Boeing 727-200', 'Boeing Commercial Airplanes', 1, TO_DATE('1963-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B732', 'Boeing 737-200', 'Boeing', 1, TO_DATE('1967-04-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B732', 'Boeing 737-200 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B733', 'Boeing 737-300', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B733', 'Boeing 737-300 Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B733', 'Boeing 737-300 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B734', 'Boeing 737-400', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B734', 'Boeing 737-400 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B735', 'Boeing 737-500', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B735', 'Boeing 737-500 Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1984-02-24', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B736', 'Boeing 737-600', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B738', 'Boeing 737-800', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B739', 'Boeing 737-900', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B737', 'Boeing 737-700', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B737', 'Boeing 737-700 Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B738', 'Boeing 737-800 Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B738', 'Boeing 737-800 Freighter Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B738', 'Boeing 737-800 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B739', 'Boeing 737-900 Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1997-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B741', 'Boeing 747-100', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B741', 'Boeing 747-100 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B742', 'Boeing 747-200', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B742', 'Boeing 747-200M', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B742', 'Boeing 747-200F', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B743', 'Boeing 747-300', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B743', 'Boeing 747-300M', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B744', 'Boeing 747-400', 'Boeing', 1, TO_DATE('1988-04-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B744', 'Boeing 747-400M', 'Boeing', 1, TO_DATE('1988-04-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B744', 'Boeing 747-400F', 'Boeing', 1, TO_DATE('1988-04-29', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B748', 'Boeing 747-8I', 'Boeing Commercial Airplanes', 1, TO_DATE('2010-02-08', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B748', 'Boeing 747-8F', 'Boeing Commercial Airplanes', 1, TO_DATE('2010-02-08', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B74R', 'Boeing 747SR', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B74R', 'Boeing 747SR Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1969-02-09', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B74S', 'Boeing 747SP', 'Boeing Commercial Airplanes', 1, TO_DATE('1975-07-04', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B752', 'Boeing 757-200', 'Boeing Commercial Airplanes', 1, TO_DATE('1982-02-19', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B752', 'Boeing 757F', 'Boeing Commercial Airplanes', 1, TO_DATE('1982-02-19', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B753', 'Boeing 757-300', 'Boeing Commercial Airplanes', 1, TO_DATE('1982-02-19', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B762', 'Boeing 767-200', 'Boeing Commercial Airplanes', 1, TO_DATE('1981-09-26', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B762', 'Boeing 767-200 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1981-09-26', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B763', 'Boeing 767-300', 'Boeing Commercial Airplanes', 1, TO_DATE('1981-09-26', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B763', 'Boeing 767-300 Winglets', 'Boeing Commercial Airplanes', 1, TO_DATE('1981-09-26', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B763', 'Boeing 767-300 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1981-09-26', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B764', 'Boeing 767-400ER', 'Boeing Commercial Airplanes', 1, TO_DATE('1981-09-26', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B772', 'Boeing 777-200', 'Boeing Commercial Airplanes', 1, TO_DATE('1994-06-12', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B773', 'Boeing 777-300', 'Boeing Commercial Airplanes', 1, TO_DATE('1994-06-12', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B778', 'Boeing 777-8', 'Boeing Commercial Airplanes', 1, TO_DATE('2020-01-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B779', 'Boeing 777-9', 'Boeing Commercial Airplanes', 1, TO_DATE('2020-01-25', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B77L', 'Boeing 777-200 Freighter', 'Boeing Commercial Airplanes', 1, TO_DATE('1994-06-12', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B77L', 'Boeing 777-200LR', 'Boeing Commercial Airplanes', 1, TO_DATE('1994-06-12', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B77W', 'Boeing 777-300ER', 'Boeing Commercial Airplanes', 1, TO_DATE('1994-06-12', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B788', 'Boeing 787-8', 'Boeing Commercial Airplanes', 1, TO_DATE('2009-12-15', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B789', 'Boeing 787-9', 'Boeing Commercial Airplanes', 1, TO_DATE('2009-12-15', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('B78X', 'Boeing 787-10', 'Boeing Commercial Airplanes', 1, TO_DATE('2009-12-15', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('BCS1', 'Airbus A220-100', 'Bombardier Aerospace(until 2018)Airbus(2018–present)', 1, TO_DATE('2013-09-16', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('BCS3', 'Airbus A220-300', 'Bombardier Aerospace(until 2018)Airbus(2018–present)', 1, TO_DATE('2013-09-16', 'YYYY-MM-DD'))
    INTO AIRCRAFT_MODEL (AIRCRAFT_MODEL_ID, MODEL_NAME, MODEL_MANUFACTURER, NUMBER_OF_SEAT, RELEASE_DATE) VALUES ('BLCF', 'Boeing 747 LCF Dreamlifter', 'Boeing Commercial AirplanesEvergreen Aviation Technologies Corporation', 1, TO_DATE('2006-09-09', 'YYYY-MM-DD'))