In [2]:
NUMBER_OF_EMPLOYEES = 800
FLIGHT_ATTENDANT_RATIO = 0.8
PILOT_RATIO = 0.2

In [3]:
import random

def random_chance(n: float) -> bool:
    assert n <= 1
    return random.randint(0, 100) < int(n * 100)

pilot_id = []
flight_attendant_id = []
for i in range(NUMBER_OF_EMPLOYEES):
    if random_chance(FLIGHT_ATTENDANT_RATIO):
        flight_attendant_id.append(i)
    else:
        pilot_id.append(i)

In [10]:
for i in flight_attendant_id:
    print(f"    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES ({i})")

    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (7)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (9)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (10)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (11)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (13)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (14)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (15)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (16)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (17)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (20)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (21)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (22)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (24)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (25)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (26)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (27)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (28)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (29)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (31)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (33)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (34)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (35)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (37)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (38)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (39)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (40)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (41)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (42)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (43)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (44)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (45)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (46)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (47)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (49)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (50)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (51)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (52)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (53)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (54)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (55)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (56)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (57)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (58)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (59)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (60)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (62)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (63)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (65)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (66)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (67)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (68)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (69)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (70)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (73)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (74)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (76)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (77)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (78)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (79)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (80)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (81)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (82)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (83)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (84)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (87)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (88)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (90)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (91)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (92)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (93)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (94)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (95)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (96)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (97)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (98)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (100)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (101)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (102)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (104)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (105)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (107)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (110)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (111)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (112)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (114)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (116)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (117)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (118)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (119)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (121)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (122)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (123)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (125)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (126)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (127)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (128)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (129)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (130)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (132)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (133)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (134)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (135)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (136)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (137)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (139)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (140)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (141)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (142)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (144)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (145)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (146)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (147)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (149)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (152)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (155)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (156)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (159)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (160)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (161)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (164)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (165)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (166)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (167)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (169)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (170)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (171)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (174)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (175)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (176)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (177)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (178)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (179)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (181)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (182)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (183)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (184)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (186)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (187)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (188)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (189)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (190)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (191)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (192)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (193)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (194)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (196)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (197)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (198)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (199)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (201)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (202)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (203)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (205)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (207)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (209)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (211)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (212)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (213)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (214)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (216)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (217)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (219)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (220)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (222)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (223)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (224)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (225)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (226)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (227)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (229)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (232)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (233)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (235)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (236)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (237)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (238)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (239)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (240)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (241)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (244)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (247)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (248)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (249)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (250)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (252)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (254)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (256)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (259)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (260)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (261)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (262)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (263)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (264)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (265)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (267)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (269)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (270)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (273)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (274)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (275)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (276)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (277)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (278)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (279)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (280)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (282)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (283)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (284)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (285)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (286)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (287)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (288)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (290)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (292)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (293)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (294)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (295)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (296)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (297)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (298)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (299)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (300)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (301)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (303)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (304)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (305)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (306)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (307)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (308)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (309)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (310)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (311)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (312)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (313)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (315)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (316)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (317)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (319)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (320)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (322)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (323)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (324)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (325)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (327)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (328)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (329)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (330)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (331)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (332)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (333)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (334)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (336)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (337)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (339)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (340)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (341)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (342)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (343)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (346)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (347)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (348)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (349)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (350)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (351)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (352)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (353)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (354)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (355)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (356)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (357)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (359)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (360)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (361)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (362)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (364)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (365)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (366)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (367)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (368)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (371)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (372)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (373)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (375)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (376)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (377)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (378)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (379)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (380)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (381)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (382)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (385)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (386)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (387)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (388)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (389)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (390)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (392)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (393)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (394)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (395)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (396)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (397)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (398)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (399)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (400)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (401)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (402)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (404)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (405)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (406)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (407)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (408)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (410)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (411)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (412)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (413)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (414)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (415)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (416)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (418)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (419)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (421)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (422)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (424)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (425)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (426)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (431)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (432)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (433)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (434)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (435)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (436)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (437)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (439)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (440)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (441)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (442)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (443)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (445)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (447)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (448)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (449)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (450)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (451)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (452)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (453)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (455)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (456)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (458)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (460)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (461)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (462)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (463)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (466)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (467)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (468)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (469)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (470)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (471)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (472)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (473)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (474)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (476)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (477)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (478)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (480)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (481)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (482)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (483)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (484)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (485)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (486)

In [17]:
import string
def get_random_license_number() -> str:
    return "".join(random.choices(string.ascii_uppercase, k=3)) + f"{random.randint(1, 999):03}" + f"{random.randint(1, 9999):04}"

license_numbers = set()
for _ in range(1000):
    license_numbers.add(get_random_license_number())
    
iter_license = iter(license_numbers)
for i in pilot_id:
    print(f"    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES ({i}, '{next(iter_license)}')")

    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (0, 'CKJ3212061')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (12, 'RCL9260824')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (18, 'QNW5020642')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (19, 'RXL6469061')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (23, 'HPD8806691')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (30, 'JXG0834523')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (32, 'SVB0997863')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (36, 'MDO6725283')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (48, 'RTN0705033')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (61, 'REG0350651')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (64, 'BYN0379144')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (71, 'ZSK3989811')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (72, 'ZDD2996079')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (75, 'SPP0420030')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (85, 'AHH4012663')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (86, 'KOD5517151')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (89, 'MHG4839008')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (99, 'CVN8930972')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (103, 'FSD1358316')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (106, 'SEY9069429')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (108, 'ZRU5565569')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (109, 'OCE7994113')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (113, 'WLK7707858')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (115, 'KGI4620768')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (120, 'GCH2837654')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (124, 'FKB2442942')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (131, 'ZIN4885467')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (138, 'TMH9732649')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (143, 'FNE8024310')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (148, 'ATW3683501')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (150, 'MCW2120079')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (151, 'ZHU2022160')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (153, 'LVM0059425')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (154, 'ETF7676024')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (157, 'WJD7072570')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (158, 'FNN7866773')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (162, 'HZF7309671')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (163, 'OSS4183462')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (168, 'AQU1259516')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (172, 'CTO3273360')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (173, 'VCE8111250')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (180, 'YTU8593497')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (185, 'JDQ5441264')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (195, 'CLD1248252')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (200, 'NCT2090670')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (204, 'PWU8861178')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (206, 'VQR0077145')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (208, 'UAL7863206')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (210, 'QFF4906232')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (215, 'KCS2732712')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (218, 'ZAG3847701')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (221, 'ZMQ7347726')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (228, 'PYH5846403')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (230, 'KEZ0341144')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (231, 'LNB6658139')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (234, 'TUK6204753')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (242, 'NNQ7171845')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (243, 'IIL4994746')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (245, 'AZP0234906')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (246, 'KTG2189380')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (251, 'IHW7082253')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (253, 'JEF7922753')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (255, 'SHE5631450')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (257, 'VJL1910995')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (258, 'YIF2366567')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (266, 'BWL0820346')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (268, 'TJV8581607')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (271, 'IRI3589532')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (272, 'AOF9724953')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (281, 'EQV6540991')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (289, 'EQY5369419')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (291, 'SNL4185209')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (302, 'IRH5543646')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (314, 'FIZ2834259')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (318, 'CFF1824877')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (321, 'XEO5195330')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (326, 'ECH9541773')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (335, 'YEJ1727512')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (338, 'FZK5091441')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (344, 'AZF7613719')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (345, 'GPO0775416')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (358, 'OOG5415953')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (363, 'ZCN8291788')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (369, 'NDS3944647')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (370, 'PBN3790959')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (374, 'SFC7782333')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (383, 'AEC2708500')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (384, 'YFS8765279')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (391, 'IKP0496125')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (403, 'OOZ2943072')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (409, 'BCS4353374')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (417, 'CTZ9402970')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (420, 'KMV8640878')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (423, 'YHR5751699')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (427, 'KHA2500154')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (428, 'FNX2593738')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (429, 'FYW1227485')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (430, 'BWB0639219')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (438, 'PBX2926600')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (444, 'QZQ9244832')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (446, 'ZEC9118248')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (454, 'NAM5952828')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (457, 'SGV5208735')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (459, 'EUW7757101')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (464, 'YUH8160276')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (465, 'OQN4988854')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (475, 'GXY9003673')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (479, 'DGG6127295')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (489, 'UHX5551780')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (495, 'WLB0156222')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (499, 'TLT5612856')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (507, 'HGT8277140')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (521, 'RDI6292618')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (525, 'ZEY4744891')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (540, 'ZFK7081047')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (544, 'QHB9896630')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (548, 'MYB1267829')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (556, 'XQH3088975')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (569, 'YWC3137435')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (576, 'FVX3836141')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (577, 'NYL0604362')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (582, 'EOA5085980')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (586, 'AQX0819405')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (591, 'HAA0892232')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (594, 'BKQ8475670')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (600, 'AZR3313509')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (601, 'UAH0356411')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (606, 'GGX2946631')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (609, 'ULV2473381')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (612, 'IEZ7176728')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (623, 'HXQ8073343')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (628, 'PIL6331966')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (632, 'KHZ4975386')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (638, 'YHE7589352')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (641, 'KUG1957021')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (646, 'CCD9746503')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (651, 'ZNP1184660')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (653, 'UNH2298122')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (661, 'OJY0978102')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (662, 'NUW2035550')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (663, 'EJB0864182')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (667, 'RCP9603479')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (668, 'DGJ5913978')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (669, 'QUD0964254')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (678, 'YQC6102338')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (681, 'FQC7267181')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (685, 'VDY2200547')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (692, 'SKD2829715')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (706, 'ISD7827412')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (707, 'JJE5545325')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (711, 'NSC1736235')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (714, 'SLY8581649')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (720, 'NLK2387765')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (730, 'MMI9087962')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (735, 'JCS0923730')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (743, 'NPG3499138')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (755, 'VHN0668358')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (763, 'OPA3921069')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (772, 'LBK0755954')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (773, 'DKE7617274')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (794, 'QSA4889338')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (798, 'VQT3225222')

1