In [3]:
NUMBER_OF_EMPLOYEES = 800
FLIGHT_ATTENDANT_RATIO = 0.8
PILOT_RATIO = 0.2

In [5]:
import random

def random_chance(n: float) -> bool:
    assert n <= 1
    return random.randint(0, 100) < int(n * 100)

pilot_id = []
flight_attendant_id = []
for i in range(NUMBER_OF_EMPLOYEES):
    if random_chance(FLIGHT_ATTENDANT_RATIO):
        flight_attendant_id.append(i)
    else:
        pilot_id.append(i)

In [1]:
def get_random_experience_years() -> int:
    years = list(range(1, 11))
    weights = [0.17272 , 0.2592 , 0.216  , 0.1512 , 0.108  , 0.0432 , 0.0216 , 0.01512, 0.0108 , 0.00216]
    return random.choices(years, weights=weights, k=1)[0]

In [7]:
for i in flight_attendant_id:
    print(f"    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES ({i}, {get_random_experience_years()})")

    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (0, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (1, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (2, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (4, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (5, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (6, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (7, 8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (8, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (10, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (12, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (14, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (15, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (16, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (17, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (18, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (19, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (20, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (21, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (22, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (24, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (25, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (26, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (27, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (28, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (29, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (30, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (31, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (32, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (33, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (34, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (35, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (36, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (37, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (38, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (40, 9)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (42, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (43, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (44, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (45, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (46, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (47, 7)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (48, 8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (49, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (50, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (51, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (52, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (53, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (54, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (56, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (57, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (58, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (59, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (60, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (61, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (62, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (64, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (65, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (66, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (67, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (68, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (69, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (70, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (71, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (72, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (73, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (74, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (75, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (76, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (77, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (78, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (79, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (80, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (81, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (83, 9)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (84, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (85, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (86, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (88, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (89, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (90, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (91, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (92, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (93, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (94, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (96, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (97, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (98, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (99, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (100, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (101, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (102, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (104, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (106, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (107, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (108, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (111, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (113, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (114, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (115, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (116, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (117, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (119, 7)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (121, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (122, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (123, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (125, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (126, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (127, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (129, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (130, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (131, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (132, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (133, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (134, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (135, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (136, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (137, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (138, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (139, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (140, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (141, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (142, 8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (143, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (144, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (145, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (147, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (148, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (150, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (151, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (152, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (153, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (154, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (156, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (157, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (158, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (160, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (163, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (164, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (165, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (166, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (168, 8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (169, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (170, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (171, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (172, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (175, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (176, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (177, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (178, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (181, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (182, 10)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (184, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (185, 7)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (186, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (187, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (188, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (189, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (190, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (191, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (192, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (193, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (195, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (196, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (197, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (199, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (200, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (201, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (203, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (204, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (205, 8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (206, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (208, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (209, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (212, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (213, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (214, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (215, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (216, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (217, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (218, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (221, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (222, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (223, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (224, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (225, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (226, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (227, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (229, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (230, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (231, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (232, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (233, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (235, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (236, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (237, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (238, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (241, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (243, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (244, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (245, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (246, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (247, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (248, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (249, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (250, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (251, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (252, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (253, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (254, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (257, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (258, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (259, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (260, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (261, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (262, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (263, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (265, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (267, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (268, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (269, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (270, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (272, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (273, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (274, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (277, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (278, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (279, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (281, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (282, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (283, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (285, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (286, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (287, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (288, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (289, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (290, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (291, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (292, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (293, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (294, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (295, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (296, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (297, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (298, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (299, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (300, 6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (301, 9)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (302, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (303, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (304, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (305, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (306, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (307, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (308, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (310, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (311, 4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (312, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (313, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (314, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (315, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (317, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (318, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (319, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (322, 5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (323, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (325, 1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (326, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (327, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (328, 3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (329, 2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID, YEARS_EXPERIENCE) VALUES (330, 1)

In [8]:
import string
def get_random_license_number() -> str:
    return "".join(random.choices(string.ascii_uppercase, k=3)) + f"{random.randint(1, 999):03}" + f"{random.randint(1, 9999):04}"

license_numbers = set()
for _ in range(1000):
    license_numbers.add(get_random_license_number())
    
iter_license = iter(license_numbers)
for i in pilot_id:
    print(f"    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES ({i}, '{next(iter_license)}')")

    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (3, 'ABL1779352')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (9, 'LWC1646471')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (11, 'BGD7379416')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (13, 'YFD6806801')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (23, 'XTU5159693')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (39, 'PKB1795820')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (41, 'TFM1442739')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (55, 'YFC0244253')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (63, 'YQT0130544')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (82, 'LWL0907414')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (87, 'DHK2503397')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (95, 'CCA8290156')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (103, 'LBE8782671')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (105, 'BHO9349072')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (109, 'FSJ3177207')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (110, 'DQH9880889')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (112, 'TXU4980717')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (118, 'LUB4348477')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (120, 'YQG0297411')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (124, 'LOZ2236530')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (128, 'PVS9136258')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (146, 'JIZ2058742')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (149, 'QYK5701285')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (155, 'ZYV5294298')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (159, 'PXN2257814')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (161, 'TVE2808148')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (162, 'GPD7320437')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (167, 'NXX4395956')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (173, 'ECQ9527245')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (174, 'CXW4611140')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (179, 'WCZ5015596')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (180, 'BGN4684778')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (183, 'GVO9618822')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (194, 'BDC2753050')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (198, 'PFJ8897606')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (202, 'PKG0919078')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (207, 'IXM9884180')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (210, 'DMK5246571')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (211, 'TNZ3574408')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (219, 'JZZ9423256')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (220, 'QCT6561633')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (228, 'UDZ4818868')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (234, 'PWW8678841')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (239, 'XWQ5396710')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (240, 'PUP8500819')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (242, 'OAR7856510')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (255, 'SOH1157280')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (256, 'WWZ3916101')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (264, 'NYH5270423')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (266, 'PCQ9395054')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (271, 'GFK2134614')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (275, 'LOY5800146')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (276, 'KSX4209959')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (280, 'YGT7728797')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (284, 'HKG3053277')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (309, 'HMO5015040')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (316, 'AFP0579864')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (320, 'DCY8005578')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (321, 'RYF7487664')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (324, 'ZEV0883010')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (334, 'RVE8184724')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (349, 'LAL8740140')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (350, 'SRI7136418')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (351, 'TNP6268867')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (365, 'GEK0863266')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (366, 'LLX7683919')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (367, 'ITT2933565')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (368, 'MLH5769647')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (376, 'DEI6586580')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (380, 'YVP7290250')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (381, 'ECU4348217')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (382, 'RDO7679935')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (393, 'THY1647805')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (398, 'SHP3820036')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (400, 'IMZ9018152')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (401, 'JKH4062962')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (402, 'YJN4880224')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (403, 'BVC1860497')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (405, 'ANW3926276')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (407, 'MPZ9933064')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (408, 'DCG5463096')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (411, 'KMZ3713614')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (415, 'QNL0833936')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (418, 'OYT5783226')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (425, 'INC1017524')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (432, 'JUJ3939059')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (434, 'XBN2363558')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (441, 'TDL7955282')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (446, 'WBI6056456')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (456, 'IBQ8657569')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (457, 'OBQ5471116')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (471, 'XAU9179957')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (482, 'DOV0285164')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (484, 'JCF2408881')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (491, 'DEA4208590')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (497, 'RWM9778158')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (500, 'NPD7496525')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (511, 'OGM6994289')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (520, 'NVU0378645')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (530, 'JYU4466671')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (533, 'ZSE8503799')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (537, 'WSA3209040')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (541, 'QCR2879450')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (547, 'BGT1516908')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (550, 'GQD1784472')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (559, 'URH7264479')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (562, 'WHC8131059')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (563, 'OBR6775511')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (567, 'FKJ4028996')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (569, 'WHP3528149')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (570, 'PMF6487160')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (572, 'LHA4767729')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (580, 'BVZ9095927')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (581, 'RSV7333921')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (583, 'NOA3139546')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (586, 'GBI9660594')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (587, 'DBL6876102')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (589, 'GWR2880254')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (591, 'HFK5349713')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (597, 'KBW0373571')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (601, 'QPY3544133')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (603, 'DDZ7156749')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (606, 'ENP5066334')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (621, 'ZOI2891041')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (625, 'TWZ7280025')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (626, 'HDT8896294')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (627, 'IRU9188676')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (628, 'PRU6137197')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (630, 'FKT1016859')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (632, 'XPD1015266')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (637, 'OFZ2118489')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (638, 'FZF0889934')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (639, 'TWA1339482')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (640, 'SQC5874368')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (642, 'PPB2921007')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (645, 'LJK7575495')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (648, 'IGN0571069')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (666, 'LKH4105094')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (667, 'RGS2940093')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (676, 'FKF7521591')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (679, 'VYV4136932')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (681, 'XKX9536925')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (682, 'VNB4358955')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (683, 'VCJ0030959')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (689, 'WAV3623212')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (699, 'UPA7663335')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (701, 'RZG3480180')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (711, 'RJZ3394687')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (712, 'DUO8540585')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (725, 'UYO2052997')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (729, 'WNA3410798')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (742, 'BVE1501976')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (752, 'GEK9414614')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (753, 'IWQ1697430')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (759, 'XBG9094853')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (760, 'PNM9578608')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (763, 'BLX9918756')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (766, 'NOV6711826')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (767, 'QMG5253214')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (769, 'XSX6115851')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (772, 'PXR6064310')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (784, 'ENV2359502')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (786, 'QRS0015060')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (792, 'NPH4343388')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (794, 'KMX6271279')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (795, 'MWV2851349')