In [1]:
from os import getenv
from connect_db import connect_db
con = connect_db(
    username=getenv("ORACLE_USERNAME"),
    password=getenv("ORACLE_PASSWORD"),
    host=getenv("ORACLE_HOST"),
    port=int(getenv("ORACLE_PORT"))
)
cur = con.cursor()

In [2]:
FIRST_CLASS_PERCENTAGE = 0.15
BUSINESS_CLASS_PERCENTAGE = 0.30
ECONOMY_CLASS_PERCENTAGE = 0.55

BUSINESS_CLASS_SEATS_PER_ROW = 4
ECONOMY_CLASS_SEAT_PER_ROW = 6
ALPHABETS = "ABCDEF"

In [10]:
FIRST_CLASS_CUTOFF = lambda n_seats: round(n_seats * FIRST_CLASS_PERCENTAGE)
BUSINESS_CLASS_CUTOFF = lambda n_seats: round(n_seats * BUSINESS_CLASS_PERCENTAGE)

def get_location_id(n: int, total_number_of_seats: int, seat_class: str) -> str:
    match seat_class:
        case "FIRS":
            return f"S{n}"
        case "BUSI":
            n = n - FIRST_CLASS_CUTOFF(total_number_of_seats)
            row, col = divmod(n, BUSINESS_CLASS_SEATS_PER_ROW)
            return f"B{row + 1}{ALPHABETS[col]}"
        case "ECON":
            n = n - BUSINESS_CLASS_CUTOFF(total_number_of_seats)
            row, col = divmod(n, ECONOMY_CLASS_SEAT_PER_ROW)
            return f"{row + 1}{ALPHABETS[col]}"
        case _:
            print("What")
            return ""

def get_class_id(n: int, total_number_of_seats: int) -> str:
    if n < FIRST_CLASS_CUTOFF(total_number_of_seats):
        return "FIRS"
    
    if n < BUSINESS_CLASS_CUTOFF(total_number_of_seats):
        return "BUSI"
    
    return "ECON"

In [13]:
stmt = """
SELECT AIRCRAFT_ID, NUMBER_OF_SEAT 
FROM AIRCRAFT
    JOIN AIRCRAFT_MODEL ON AIRCRAFT.AIRCRAFT_MODEL_ID = AIRCRAFT_MODEL.AIRCRAFT_MODEL_ID
"""
query = "    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('{}', '{}', '{}')"
for row in cur.execute(stmt):
    aircraft_id = row[0]
    number_of_seat = row[1]
    
    for i in range(1, number_of_seat + 1):
        seat_class_id = get_class_id(i, number_of_seat)
        location = get_location_id(i, number_of_seat, seat_class_id)
        print(query.format(aircraft_id, seat_class_id, location))

    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S1')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S2')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S3')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S4')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S5')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S6')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S7')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S8')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S9')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S10')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S11')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S12')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S13')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S14')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S15')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S16')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S17')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S18')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S19')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S20')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'FIRS', 'S21')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B1A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B1B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B1C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B1D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B2A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B2B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B2C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B2D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B3A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B3B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B3C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B3D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B4A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B4B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B4C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B4D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B5A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B5B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B5C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B5D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B6A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B6B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'BUSI', 'B6C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '1A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '1B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '1C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '1D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '1E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '1F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '2A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '2B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '2C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '2D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '2E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '2F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '3A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '3B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '3C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '3D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '3E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '3F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '4A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '4B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '4C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '4D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '4E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '4F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '5A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '5B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '5C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '5D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '5E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '5F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '6A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '6B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '6C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '6D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '6E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '6F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '7A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '7B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '7C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '7D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '7E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '7F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '8A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '8B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '8C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '8D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '8E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '8F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '9A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '9B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '9C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '9D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '9E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '9F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '10A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '10B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '10C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '10D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '10E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '10F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '11A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '11B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '11C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '11D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '11E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '11F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '12A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '12B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '12C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '12D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '12E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '12F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '13A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '13B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '13C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '13D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '13E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '13F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '14A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '14B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '14C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '14D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '14E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '14F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '15A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '15B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '15C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '15D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '15E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '15F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '16A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '16B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '16C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '16D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '16E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '16F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '17A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '17B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '17C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '17D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '17E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '17F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '18A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '18B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '18C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-AGF', 'ECON', '18D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S1')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S2')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S3')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S4')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S5')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S6')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S7')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S8')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S9')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S10')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S11')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S12')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S13')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S14')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S15')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S16')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S17')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S18')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S19')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S20')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S21')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S22')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S23')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S24')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S25')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'FIRS', 'S26')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B1A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B1B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B1C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B1D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B2A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B2B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B2C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B2D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B3A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B3B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B3C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B3D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B4A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B4B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B4C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B4D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B5A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B5B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B5C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B5D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B6A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B6B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B6C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B6D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B7A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B7B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'BUSI', 'B7C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '1A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '1B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '1C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '1D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '1E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '1F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '2A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '2B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '2C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '2D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '2E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '2F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '3A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '3B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '3C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '3D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '3E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '3F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '4A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '4B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '4C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '4D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '4E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '4F')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '5A')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '5B')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '5C')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '5D')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '5E')
    INTO SEAT (AIRCRAFT_ID, SEAT_CLASS_ID, LOCATION) VALUES ('9M-ERF', 'ECON', '5F')