In [1]:
from os import getenv
from connect_db import connect_db
con = connect_db(
    username=getenv("ORACLE_USERNAME"),
    password=getenv("ORACLE_PASSWORD"),
    host=getenv("ORACLE_HOST"),
    port=int(getenv("ORACLE_PORT"))
)
cur = con.cursor()

In [123]:
import numpy as np

stmt = """
SELECT AIRCRAFT.AIRCRAFT_MODEL_ID, NUMBER_OF_SEAT
FROM AIRCRAFT
    JOIN AIRCRAFT_MODEL ON AIRCRAFT.AIRCRAFT_MODEL_ID = AIRCRAFT_MODEL.AIRCRAFT_MODEL_ID
"""
aircraft_model_ids = []
weights = []
for row in cur.execute(stmt):
    if row[1] < 10:
        weights.append(1)
    elif row[1] < 150:
        weights.append(2)
    elif row[1] < 350:
        weights.append(3)
    else:
        weights.append(2)
    aircraft_model_ids.append(row[0])
weights = np.array(weights) / sum(weights)

In [4]:
stmt = "SELECT PILOT_ID FROM PILOT"
pilot_ids = [row[0] for row in cur.execute(stmt)]
pilot_ids

['PL0000',
 'PL0001',
 'PL0002',
 'PL0003',
 'PL0004',
 'PL0005',
 'PL0006',
 'PL0007',
 'PL0008',
 'PL0009',
 'PL0010',
 'PL0011',
 'PL0012',
 'PL0013',
 'PL0014',
 'PL0015',
 'PL0016',
 'PL0017',
 'PL0018',
 'PL0019',
 'PL0020',
 'PL0021',
 'PL0022',
 'PL0023',
 'PL0024',
 'PL0025',
 'PL0026',
 'PL0027',
 'PL0028',
 'PL0029',
 'PL0030',
 'PL0031',
 'PL0032',
 'PL0033',
 'PL0034',
 'PL0035',
 'PL0036',
 'PL0037',
 'PL0038',
 'PL0039',
 'PL0040',
 'PL0041',
 'PL0042',
 'PL0043',
 'PL0044',
 'PL0045',
 'PL0046',
 'PL0047',
 'PL0048',
 'PL0049',
 'PL0050',
 'PL0051',
 'PL0052',
 'PL0053',
 'PL0054',
 'PL0055',
 'PL0056',
 'PL0057',
 'PL0058',
 'PL0059',
 'PL0060',
 'PL0061',
 'PL0062',
 'PL0063',
 'PL0064',
 'PL0065',
 'PL0066',
 'PL0067',
 'PL0068',
 'PL0069',
 'PL0070',
 'PL0071',
 'PL0072',
 'PL0073',
 'PL0074',
 'PL0075',
 'PL0076',
 'PL0077',
 'PL0078',
 'PL0079',
 'PL0080',
 'PL0081',
 'PL0082',
 'PL0083',
 'PL0084',
 'PL0085',
 'PL0086',
 'PL0087',
 'PL0088',
 'PL0089',
 'PL0090',
 'PL0091',
 'PL0092',
 'PL0093',
 'PL0094',
 'PL0095',
 'PL0096',
 'PL0097',
 'PL0098',
 'PL0099',
 'PL0100',
 'PL0101',
 'PL0102',
 'PL0103',
 'PL0104',
 'PL0105',
 'PL0106',
 'PL0107',
 'PL0108',
 'PL0109',
 'PL0110',
 'PL0111',
 'PL0112',
 'PL0113',
 'PL0114',
 'PL0115',
 'PL0116',
 'PL0117',
 'PL0118',
 'PL0119',
 'PL0120',
 'PL0121',
 'PL0122',
 'PL0123',
 'PL0124',
 'PL0125',
 'PL0126',
 'PL0127',
 'PL0128',
 'PL0129',
 'PL0130',
 'PL0131',
 'PL0132',
 'PL0133',
 'PL0134',
 'PL0135',
 'PL0136',
 'PL0137',
 'PL0138',
 'PL0139',
 'PL0140',
 'PL0141',
 'PL0142',
 'PL0143',
 'PL0144',
 'PL0145',
 'PL0146',
 'PL0147',
 'PL0148',
 'PL0149',
 'PL0150',
 'PL0151',
 'PL0152',
 'PL0153',
 'PL0154',
 'PL0155',
 'PL0156',
 'PL0157',
 'PL0158',
 'PL0159',
 'PL0160',
 'PL0161',
 'PL0162',
 'PL0163',
 'PL0164',
 'PL0165']

In [122]:
import numpy as np
from typing import Iterable

def generate_flight_hours() -> int:
    hours = np.arange(2500, 25000, dtype=int)
    weights = np.concatenate((
        np.ones(2500, dtype=int) * 0.3 / 2500,
        np.ones(5000, dtype=int) * 0.4 / 5000,
        np.ones(5000, dtype=int) * 0.2 / 5000,
        np.ones(10000, dtype=int) * 0.1 / 10000,
    ))
    return np.random.choice(hours, p=weights, size=1).item()

def get_random_aircraft_model_ids() -> Iterable[str]:
    n = 0
    for i in range(len(aircraft_model_ids)):
        if np.random.randint(1, np.power(2, i) + 1) != 1:
            break
        n += 1
        
    yield from np.random.choice(aircraft_model_ids, p=weights, size=n)

A359
B703

In [124]:
sql = "    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('{}', '{}', {})"
for pilot_id in pilot_ids:
    for aircraft_model_id in get_random_aircraft_model_ids():
        print(sql.format(pilot_id,aircraft_model_id, generate_flight_hours()))

    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0000', 'A20N', 4029)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0000', 'A21N', 7181)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0001', 'B722', 20558)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0002', 'B3XM', 7651)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0003', 'A333', 8240)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0003', 'B3XM', 4182)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0004', 'A35K', 3654)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0004', 'A19N', 7118)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0004', 'B3XM', 4703)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0005', 'A21N', 8277)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0006', 'A20N', 5653)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0007', 'B722', 6029)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0007', 'A19N', 6633)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0007', 'A359', 2966)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0008', 'B39M', 4677)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0008', 'A20N', 11530)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0009', 'A35K', 18449)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0010', 'B39M', 13764)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0011', 'A333', 7735)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0011', 'A19N', 11772)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0011', 'A20N', 7348)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0012', 'A20N', 4056)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0012', 'A35K', 3488)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0012', 'A333', 7792)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0013', 'A388', 6329)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0013', 'B712', 3098)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0014', 'K35R', 6973)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0014', 'A21N', 2590)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0015', 'B3XM', 3415)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0016', 'B722', 17980)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0016', 'B712', 7188)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0016', 'A21N', 5958)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0017', 'A20N', 3194)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0018', 'B52', 22161)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0018', 'A21N', 5345)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0019', 'K35R', 4656)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0019', 'A20N', 8529)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0020', 'K35R', 11839)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0020', 'B712', 14224)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0020', 'A20N', 2977)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0021', 'A333', 8713)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0022', 'A20N', 3484)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0023', 'A19N', 6757)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0023', 'A20N', 5404)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0024', 'B703', 7195)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0025', 'B39M', 8211)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0025', 'A19N', 2720)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0026', 'A20N', 4355)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0027', 'B39M', 19090)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0028', 'A20N', 9403)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0029', 'A359', 8817)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0029', 'A20N', 6827)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0030', 'A19N', 13373)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0031', 'A333', 13608)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0032', 'A20N', 11751)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0033', 'A333', 7863)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0033', 'A333', 8914)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0034', 'A333', 6458)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0035', 'B39M', 4843)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0036', 'A359', 5819)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0037', 'B39M', 5263)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0038', 'A20N', 3560)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0038', 'B39M', 3339)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0039', 'A333', 7402)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0040', 'B3XM', 11197)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0041', 'K35R', 16594)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0042', 'B52', 7286)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0042', 'A20N', 16836)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0043', 'B703', 16745)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0043', 'A20N', 2807)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0043', 'K35R', 5657)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0044', 'A20N', 5744)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0045', 'A333', 3181)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0045', 'A333', 7342)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0046', 'A20N', 4879)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0047', 'B3XM', 8986)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0047', 'B3XM', 16915)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0048', 'A21N', 6103)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0048', 'B712', 8003)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0048', 'A333', 8237)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0049', 'A20N', 5967)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0050', 'A20N', 7288)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0050', 'A20N', 21905)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0050', 'B712', 8847)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0050', 'B3XM', 11146)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0051', 'B3XM', 8422)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0051', 'B39M', 5743)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0051', 'B712', 9123)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0052', 'A388', 6120)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0053', 'A19N', 3307)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0053', 'A20N', 9896)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0054', 'B3XM', 4684)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0054', 'B712', 18974)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0055', 'B52', 7177)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0056', 'B722', 6128)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0057', 'A35K', 7659)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0058', 'A21N', 14235)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0058', 'A20N', 8047)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0058', 'A21N', 6700)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0058', 'A20N', 2641)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0059', 'A21N', 18529)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0060', 'A20N', 7403)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0060', 'B39M', 15217)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0060', 'A20N', 5552)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0061', 'B712', 13884)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0062', 'A35K', 7107)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0063', 'A19N', 3029)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0063', 'A20N', 13044)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0064', 'B39M', 7033)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0065', 'A333', 13182)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0065', 'K35R', 2709)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0066', 'A19N', 2663)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0066', 'A20N', 4527)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0066', 'A359', 11674)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0067', 'A19N', 8016)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0067', 'B3XM', 6416)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0067', 'A20N', 7319)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0068', 'A20N', 23511)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0068', 'B3XM', 2600)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0069', 'A388', 6421)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0070', 'B3XM', 11713)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0070', 'A388', 6709)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0070', 'B3XM', 14165)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0070', 'A21N', 16878)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0071', 'A20N', 12082)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0072', 'B3XM', 9465)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0072', 'B722', 3257)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0072', 'A19N', 12633)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0073', 'A35K', 8633)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0074', 'A388', 10863)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0075', 'A333', 11198)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0076', 'B39M', 3474)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0076', 'A20N', 8500)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0077', 'A359', 7157)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0077', 'A21N', 2635)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0077', 'B703', 9106)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0078', 'A20N', 14295)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0079', 'B703', 6834)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0079', 'B52', 3417)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0080', 'A35K', 9536)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0081', 'B52', 3272)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0081', 'A35K', 6848)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0081', 'A333', 4743)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0081', 'A20N', 6652)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0082', 'A20N', 16489)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0082', 'B3XM', 8178)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0083', 'A21N', 9914)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0084', 'K35R', 2594)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0085', 'B703', 24957)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0085', 'A333', 3466)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0086', 'A333', 24500)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0086', 'B39M', 4208)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0087', 'K35R', 7595)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0088', 'B703', 18839)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0089', 'A20N', 5455)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0090', 'A19N', 7049)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0091', 'B3XM', 18171)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0091', 'B722', 12425)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0091', 'A20N', 13557)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0091', 'A19N', 8389)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0092', 'B52', 8283)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0092', 'B722', 9176)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0092', 'B39M', 7088)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0092', 'A359', 6603)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0093', 'A20N', 4310)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0093', 'B39M', 10115)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0093', 'B722', 6636)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0094', 'B3XM', 6381)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0095', 'A20N', 7414)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0096', 'B722', 2852)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0097', 'A359', 4225)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0098', 'A20N', 3878)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0099', 'A19N', 11638)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0100', 'A20N', 3018)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0100', 'B712', 5629)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0100', 'B722', 8434)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0101', 'B722', 3733)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0101', 'A19N', 3228)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0101', 'B3XM', 10932)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0102', 'K35R', 3317)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0102', 'A21N', 4510)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0103', 'A19N', 3432)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0103', 'A388', 12792)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0103', 'A21N', 13204)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0104', 'A388', 10778)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0105', 'B703', 9538)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0106', 'A20N', 6189)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0107', 'B3XM', 7085)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0107', 'A359', 20735)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0108', 'A19N', 4242)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0108', 'B722', 9953)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0109', 'B39M', 9522)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0109', 'B3XM', 18316)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0110', 'A19N', 4616)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0110', 'A388', 7919)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0111', 'A19N', 2524)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0111', 'B703', 9166)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0111', 'A20N', 7965)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0112', 'A35K', 4464)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0113', 'A359', 5866)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0113', 'A333', 14065)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0114', 'B39M', 8506)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0114', 'A35K', 9365)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0114', 'B39M', 5745)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0115', 'B722', 4725)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0116', 'A20N', 22904)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0117', 'B722', 22708)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0118', 'B52', 3147)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0118', 'B52', 6228)
    INTO FLIGHT_HOUR (PILOT_ID, AIRCRAFT_MODEL_ID, FLIGHT_HOUR) VALUES('PL0119', 'A333', 2544)