In [2]:
NUMBER_OF_EMPLOYEES = 800
FLIGHT_ATTENDANT_RATIO = 0.8
PILOT_RATIO = 0.2

In [3]:
import random

def random_chance(n: float) -> bool:
    assert n <= 1
    return random.randint(0, 100) < int(n * 100)

pilot_id = []
flight_attendant_id = []
for i in range(NUMBER_OF_EMPLOYEES):
    if random_chance(FLIGHT_ATTENDANT_RATIO):
        flight_attendant_id.append(i)
    else:
        pilot_id.append(i)

In [10]:
for i in flight_attendant_id:
    print(f"    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES ({i})")

    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (1)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (2)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (3)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (4)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (5)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (6)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (7)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (8)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (9)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (10)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (11)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (13)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (14)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (15)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (16)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (17)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (20)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (21)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (22)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (24)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (25)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (26)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (27)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (28)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (29)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (31)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (33)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (34)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (35)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (37)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (38)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (39)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (40)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (41)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (42)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (43)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (44)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (45)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (46)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (47)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (49)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (50)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (51)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (52)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (53)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (54)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (55)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (56)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (57)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (58)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (59)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (60)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (62)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (63)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (65)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (66)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (67)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (68)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (69)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (70)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (73)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (74)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (76)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (77)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (78)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (79)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (80)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (81)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (82)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (83)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (84)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (87)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (88)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (90)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (91)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (92)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (93)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (94)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (95)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (96)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (97)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (98)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (100)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (101)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (102)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (104)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (105)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (107)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (110)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (111)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (112)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (114)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (116)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (117)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (118)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (119)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (121)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (122)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (123)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (125)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (126)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (127)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (128)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (129)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (130)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (132)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (133)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (134)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (135)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (136)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (137)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (139)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (140)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (141)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (142)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (144)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (145)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (146)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (147)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (149)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (152)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (155)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (156)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (159)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (160)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (161)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (164)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (165)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (166)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (167)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (169)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (170)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (171)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (174)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (175)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (176)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (177)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (178)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (179)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (181)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (182)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (183)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (184)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (186)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (187)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (188)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (189)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (190)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (191)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (192)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (193)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (194)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (196)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (197)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (198)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (199)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (201)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (202)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (203)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (205)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (207)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (209)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (211)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (212)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (213)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (214)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (216)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (217)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (219)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (220)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (222)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (223)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (224)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (225)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (226)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (227)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (229)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (232)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (233)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (235)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (236)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (237)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (238)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (239)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (240)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (241)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (244)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (247)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (248)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (249)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (250)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (252)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (254)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (256)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (259)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (260)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (261)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (262)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (263)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (264)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (265)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (267)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (269)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (270)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (273)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (274)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (275)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (276)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (277)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (278)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (279)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (280)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (282)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (283)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (284)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (285)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (286)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (287)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (288)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (290)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (292)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (293)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (294)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (295)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (296)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (297)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (298)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (299)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (300)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (301)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (303)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (304)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (305)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (306)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (307)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (308)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (309)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (310)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (311)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (312)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (313)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (315)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (316)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (317)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (319)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (320)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (322)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (323)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (324)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (325)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (327)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (328)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (329)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (330)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (331)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (332)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (333)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (334)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (336)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (337)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (339)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (340)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (341)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (342)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (343)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (346)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (347)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (348)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (349)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (350)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (351)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (352)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (353)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (354)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (355)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (356)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (357)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (359)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (360)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (361)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (362)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (364)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (365)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (366)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (367)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (368)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (371)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (372)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (373)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (375)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (376)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (377)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (378)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (379)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (380)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (381)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (382)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (385)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (386)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (387)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (388)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (389)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (390)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (392)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (393)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (394)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (395)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (396)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (397)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (398)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (399)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (400)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (401)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (402)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (404)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (405)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (406)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (407)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (408)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (410)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (411)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (412)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (413)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (414)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (415)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (416)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (418)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (419)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (421)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (422)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (424)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (425)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (426)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (431)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (432)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (433)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (434)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (435)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (436)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (437)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (439)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (440)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (441)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (442)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (443)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (445)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (447)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (448)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (449)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (450)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (451)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (452)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (453)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (455)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (456)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (458)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (460)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (461)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (462)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (463)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (466)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (467)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (468)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (469)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (470)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (471)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (472)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (473)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (474)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (476)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (477)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (478)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (480)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (481)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (482)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (483)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (484)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (485)
    INTO FLIGHT_ATTENDANT (EMPLOYEE_ID) VALUES (486)

In [14]:
import string
def get_random_license_number() -> str:
    return "".join(random.choices(string.ascii_uppercase, k=3)) + f"{random.randint(1, 999):03}" + f"{random.randint(1, 9999):04}"

license_numbers = set()
for _ in range(1000):
    license_numbers.add(get_random_license_number())
    
iter_license = iter(license_numbers)
for i in flight_attendant_id:
    print(f"    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES ({i}, '{next(iter_license)}')")

    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (1, 'LHX7166852')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (2, 'IWZ9607411')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (3, 'DFP2613742')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (4, 'ZXZ7499195')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (5, 'OWJ0511008')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (6, 'NBR3034588')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (7, 'DGK5010383')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (8, 'VGA8516824')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (9, 'PJC0144440')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (10, 'QZX0855014')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (11, 'QYS6808727')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (13, 'VHA2704210')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (14, 'KSI4722678')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (15, 'UEP5736828')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (16, 'GEW7026882')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (17, 'SAA9430284')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (20, 'DLP6484324')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (21, 'EHQ3133493')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (22, 'EKE6346025')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (24, 'MIJ7903038')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (25, 'DTD0215452')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (26, 'OUO3828685')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (27, 'FWF1953122')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (28, 'ENN4739127')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (29, 'CKT8739452')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (31, 'DCJ0994887')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (33, 'HGN8806123')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (34, 'BXP7525262')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (35, 'FDC1545737')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (37, 'WXR5902556')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (38, 'UZM8405791')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (39, 'YJL4390425')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (40, 'ZTU7631542')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (41, 'IGZ4358402')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (42, 'JFP9996835')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (43, 'KLE8949066')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (44, 'BLD4855242')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (45, 'IXV3384064')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (46, 'GZU1391164')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (47, 'AYM3041162')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (49, 'MZC6793063')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (50, 'ZYY0155293')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (51, 'NXV3147662')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (52, 'BJI1748066')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (53, 'WSH8585050')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (54, 'LOJ2022237')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (55, 'OJA8684104')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (56, 'IRO0826749')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (57, 'PKN1918689')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (58, 'QMK1297557')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (59, 'RET2401812')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (60, 'PPL3699009')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (62, 'URA8765528')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (63, 'EPJ6393318')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (65, 'ISG7811166')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (66, 'CJT7169463')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (67, 'RQJ2284157')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (68, 'JMF4291869')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (69, 'UHT2061570')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (70, 'LDI1212873')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (73, 'RFW2732243')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (74, 'EGB1248651')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (76, 'JCQ1814647')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (77, 'EDK9774087')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (78, 'RFN6355729')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (79, 'LKH5651823')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (80, 'DAN9542679')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (81, 'TXK9224151')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (82, 'RAP1406479')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (83, 'LLG5303682')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (84, 'ZTU7034038')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (87, 'AVM8078538')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (88, 'IUW9709985')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (90, 'KTP3592190')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (91, 'FQF7955513')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (92, 'NGJ2043625')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (93, 'BCK1893174')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (94, 'GVZ8868852')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (95, 'EBV0056305')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (96, 'EAJ1329836')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (97, 'FMH2276475')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (98, 'FJB0217353')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (100, 'ZPL3181769')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (101, 'MPL5492364')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (102, 'UYI7542424')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (104, 'MMB2407049')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (105, 'DHO0797316')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (107, 'UNW2849282')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (110, 'KBD9291189')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (111, 'KTM1730649')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (112, 'GVS4379453')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (114, 'MVS5208132')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (116, 'TZD8154062')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (117, 'FMK5844466')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (118, 'RUJ8101648')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (119, 'IUL2372119')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (121, 'NEU7270342')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (122, 'DAT9106868')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (123, 'BKP6512202')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (125, 'HGU0591612')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (126, 'ESH9425586')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (127, 'TYO0165020')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (128, 'NIX4355670')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (129, 'MBV0014065')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (130, 'LEA0991015')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (132, 'ZHV6286651')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (133, 'KIU6209171')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (134, 'WGH0470415')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (135, 'JQK8704705')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (136, 'NVI2789761')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (137, 'YOZ9261013')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (139, 'PSH8385999')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (140, 'GAG8782390')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (141, 'DJM4023783')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (142, 'DYG7735048')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (144, 'DSI0298105')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (145, 'JWW0151450')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (146, 'VZQ6920374')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (147, 'HIM4206405')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (149, 'BTA7984945')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (152, 'OGS2913565')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (155, 'HWI7480098')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (156, 'ELA8928589')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (159, 'VSG8082939')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (160, 'MMB4964259')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (161, 'CBX7369215')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (164, 'BXL9408300')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (165, 'HUZ1909466')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (166, 'AOW4815825')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (167, 'CIN0584481')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (169, 'FWR3188801')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (170, 'VAZ3073055')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (171, 'HVS4091812')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (174, 'QBE9474379')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (175, 'WRT1356830')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (176, 'LCC0190285')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (177, 'GLC2679707')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (178, 'MAW6852753')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (179, 'MMY2548488')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (181, 'PSB2008250')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (182, 'EEW6568931')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (183, 'FFC2237102')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (184, 'PQW5656111')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (186, 'AAQ1075083')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (187, 'UVP1313081')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (188, 'UFD1789061')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (189, 'IZM6612991')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (190, 'WZH3565074')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (191, 'FAD3996829')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (192, 'SBB4420454')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (193, 'EDF5875072')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (194, 'SZT9535262')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (196, 'XDI4183447')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (197, 'GUY3099555')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (198, 'IBQ1795826')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (199, 'VVR5515832')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (201, 'YGM2600469')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (202, 'BTV7878864')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (203, 'OOZ3233091')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (205, 'CRN4351041')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (207, 'ZXJ8876349')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (209, 'NNZ7883770')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (211, 'JTJ0478824')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (212, 'EKP7216303')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (213, 'JZT2956013')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (214, 'HTF2576547')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (216, 'WMJ2116014')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (217, 'LFG8541232')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (219, 'HXG3011858')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (220, 'VHO5309569')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (222, 'PBY4148239')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (223, 'BGV9232844')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (224, 'DCZ8740500')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (225, 'KHI2530112')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (226, 'YWQ4940800')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (227, 'IKA9253146')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (229, 'YFQ3671620')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (232, 'BPK7260808')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (233, 'ZYW6839569')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (235, 'TJD1131896')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (236, 'EZQ9266759')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (237, 'LMD5846769')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (238, 'XYL4866825')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (239, 'HLE7156347')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (240, 'CYG7947733')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (241, 'GPX8436998')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (244, 'JDM3089993')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (247, 'EKJ4732223')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (248, 'GGR3632532')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (249, 'OPM4971382')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (250, 'IWI1600976')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (252, 'WVB7282656')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (254, 'PBN0093275')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (256, 'PLZ7790399')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (259, 'RTL9660861')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (260, 'SWJ8406995')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (261, 'OTL8113475')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (262, 'VDU7518519')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (263, 'FIT9804782')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (264, 'MUK0087077')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (265, 'IWR4757798')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (267, 'UWJ7522831')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (269, 'EZS0777626')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (270, 'SOE6795220')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (273, 'OXT5132650')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (274, 'DCW3795003')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (275, 'KPH1729667')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (276, 'LDE5687601')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (277, 'XTI8813003')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (278, 'FSW8753122')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (279, 'RIO6456937')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (280, 'VJZ6660449')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (282, 'DGW9109950')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (283, 'END7524982')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (284, 'EEV2530535')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (285, 'FVX0714059')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (286, 'XZH5335974')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (287, 'ISV3105326')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (288, 'WRE5837186')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (290, 'QXR8655964')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (292, 'DZZ6958072')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (293, 'RNF8432896')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (294, 'FXP7761231')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (295, 'COH2817189')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (296, 'RLV5984437')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (297, 'KQI7587077')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (298, 'JXF1648523')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (299, 'RBY1425340')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (300, 'OJS5481794')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (301, 'PQE6587121')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (303, 'KLS2464956')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (304, 'IPJ3258901')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (305, 'NRN7331330')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (306, 'UIN3281716')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (307, 'FEV9994656')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (308, 'KZJ5914079')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (309, 'BCF9707059')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (310, 'PYB9276462')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (311, 'BIW4246639')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (312, 'PHH4379305')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (313, 'CMT1276136')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (315, 'NIE4319669')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (316, 'GNC9557362')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (317, 'GYK7397042')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (319, 'UQK9230765')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (320, 'TFR1100792')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (322, 'DZD3463513')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (323, 'RXA4920552')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (324, 'QAT7930167')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (325, 'EUS4310424')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (327, 'DSH2250223')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (328, 'AYS1231223')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (329, 'MNJ6216531')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (330, 'WWL4583361')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (331, 'OMI2608816')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (332, 'RXT7006036')
    INTO PILOT (EMPLOYEE_ID, PILOT_LICENSE_NUMBER) VALUES (333, 'WDV5598779')

In [13]:
len(pilot_id)

162